:root {
  --color-accented: #2196f3;
  --color-normal: #757575;
  --color-gray: #afb1b8;
  --color-strong: #212121;
  --color-background1: white;
  --color-background2: #2f303a;
  --color-background3: #f5f4fa;
  --color-border1: #eeeeee;
}
.section {
  padding: 94px 0 94px 0;
}

.container-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 30px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.container-lined {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.container-lined-middle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  margin: 0 215px;
  gap: 8px;
}
.container-spaced {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 46px;
}
.container-right {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  justify-content: right;
  gap: 50px;
}
.container-left {
  display: flex;
  align-items: center;
  justify-content: left;
}
/* .container-left-wrap {
  text-align: left;
  width: 1200px;
  margin-left: 215px;
  margin-right: 215px;
  background-color: fuchsia;
} */

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-normal);
  font-weight: 400;
  font-size: 14px;

  width: 1600px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}
header {
  height: 80px;
}
.company-name {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  height: 31px;
}
.button1 {
  font-size: 16px;
  font-weight: 500;
  background-color: var(--color-background3);
  color: var(--color-strong);
  border-width: 0;
}
.button1:hover {
  cursor: pointer;
}
.link1 {
  font-weight: 500;
  color: var(--color-strong);
  fill: var(--color-strong);
}
.icon {
  margin-right: 10px;
}
.icon-big {
  margin-top: 25px;
}
.icon-big-background {
  background-color: #f5f4fa;
  height: 120px;
  margin-bottom: 30px;
}
.icons-socials-bar {
  display: flex;
  gap: 10px;
}
.icon-socials {
  fill: var(--color-normal);
  /* border: 2px solid red; */
  border-radius: 50%;
  background-color: var(--color-background1);
}
.icon-socials:hover,
.icon-socials:focus {
  fill: var(--color-background1);
  /* border: 1px solid var(--color-accented); */
  background-color: var(--color-accented);
  cursor: pointer;
}

.icon-clients {
  fill: var(--color-normal);
  width: 170;
  height: 92;
  padding: 16px 32px;
  /* background-color: var(--color-background1); */
  border: 1px solid var(--color-gray);
}
.icon-clients:hover,
.icon-clients:focus {
  fill: var(--color-accented);
  /* background-color: var(--color-background1); */
  border: 1px solid var(--color-accented);
  cursor: pointer;
}
.icon-clients > svg:hover,
.icon-clients > svg:focus {
  fill: var(--color-accented);
  cursor: pointer;
}
.icon-clients > svg {
  fill: var(--color-normal);
}
.button1:hover,
.button1:focus {
  background-color: var(--color-accented);
  color: var(--color-background1);
  cursor: pointer;
}

.link1:hover,
.link1:focus {
  color: var(--color-accented);
  fill: var(--color-accented);
}

.link2 {
  font-weight: 500;
  color: var(--color-strong) 60%;
}
.product-card h3 {
  font-weight: 700;
  font-size: 18px;
}
.product-card {
  font-size: 16px;
  border-top: 0px;
}
.product-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product-card-bottom {
  border-top: 0px;
  border-left: 1px solid var(--color-border1);
  border-right: 1px solid var(--color-border1);
  border-bottom: 1px solid var(--color-border1);
  padding: 20px 24px;
  line-height: 188%;
}
.product-card-bottom h3 {
  margin-bottom: 4px;
  line-height: 200%;
}
.text-white {
  color: var(--color-background1);
}
.upper-article {
  line-height: 171%;
}
.upper-article h2 {
  color: var(--color-strong);
  font-weight: 700;
  font-size: 36px;
}
.upper-article h3 {
  font-weight: 700;
  color: var(--color-strong);
}
.upper-article > ul {
  margin-bottom: 94px;
}
.lower-article {
  background-color: var(--color-background3);
}
.section h2 {
  color: var(--color-strong);
  font-weight: 700;
  font-size: 36px;
}
.banner1 {
  max-height: 25%;
  min-height: 600px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  color: var(--color-background1);
  background-image: url(../images/banner1-background.jpg);
  background-color: rgba(47, 48, 58, 0.4);
}
.banner1 h1 {
  margin: 30px;
}
.banner1 button {
  font-weight: 700;
  font-size: 16px;
  background-color: var(--color-accented);
  color: var(--color-background1);
}
nav .link1 {
  color: var(--color-strong);
}
.personel-card h4 {
  font-weight: 500;
  font-size: 16px;
  color: var(--color-strong);
}
.personel-card {
  font-size: 16px;
  background-color: var(--color-background1);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.padding-30 {
  padding: 20px;
}
.padding-30 > :nth-child(n) {
  margin: 10px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.center {
  text-align: center;
}
.box-200x50 {
  min-width: 200px;
  min-height: 50px;
}
.box-200x50:hover {
  cursor: pointer;
}

footer {
  /* footer */
  height: 252px;
  background-color: var(--color-background2);
}
#contact > :nth-child(n) {
  display: flex;
  padding-top: 9px;
  margin: 0;
}
#contact > :first-child {
  display: flex;
  padding-top: 60px;
  padding-bottom: 20px;
}
#contact > :last-child {
  display: flex;

  padding-bottom: 60px;
  margin: 0;
}
.list-filter .button1 {
  padding: 6px 22px;
}
.list-filter .button1:hover,
.list-filter .button1:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.accented-color {
  color: var(--color-accented);
}
.strong-color {
  color: var(--color-strong);
}
.strong-inverted-color {
  color: var(--color-background1);
}
/* */

.footer-flex {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 70px;

  font-weight: 700;
}

.margin-bottom-20 {
  margin-bottom: 20px;
  margin-top: 60px;
}

footer .icon-socials {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--color-background1);
}
